@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

body {
    font-family: 'Noto Sans JP', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    top: 0;
    padding: 0;
    margin:0;
    left: 0;
    color: #666;
    font-weight: 300;
    background-color: rgb(212,233,226);
    /* background: #fafafa url(../images/body-bg.jpg) 0 0 repeat; */
}

header {
    color: #6C6C6C;
    padding-top: 20px 0;
    font-family: 'Noto Sans JP', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 900;
    /*  border-bottom: solid 1px #275da1;*/
    width: 100%;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    padding: 20px;
}

.container-1 {
    padding-top: 150px;
    padding-bottom: 150px;
}

h1 {
  font-weight: 500;
  margin: 10px 0 0 0;
    color: #00653e;
}

h1, p {
    padding-left: 50px;
    max-width: 500px;
}

#main-title {
    font-size: 50px;
    color: #fff;
    padding-left: 0px;
}

h2 {
    font-weight: 300;
    color: #fff;
    font-size: 15px;
    max-width: 450px;
    padding-left: 5px;
}

h3 {
    color: #00653e;
    text-align: center;
}

#img1 {
    clear:right
}
.space {
    padding: 70px;
}

.small-text {
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 14px;
    color: #1E3932;
}

.small-text-under {
    font-weight: 300;
    font-family: 'Noto Sans JP', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #1E3932;
}

.banner {
    padding: 100px 100px 100px 150px;
    max-width: 100%;
    min-width: 500px;
    background-image: url(https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-67134.png);
    background-size: 500px;
    background-position: 700px -2px; 
    background-repeat: no-repeat;
    background-color: #1E3932;
    vertical-align: middle;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 600;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #d9d9d9;
}

th:nth-child(even) {
  background-color: #eeeeee;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ebebeb;
}

form {
  padding: 20px;
  background: #f2f2f2;
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

.brush {
  fill: #ff3399;
  stroke: #000000;
}

table {
  visibility: hidden;
  top: 30px;
  left: 500px;
}

#scatterplotside {
    max-height: 393px;
    overflow-y: scroll;
}

svg {
    background-color: #fff;
    border: none;
}
